@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: #f1f1f1;
  --foreground: #141414;
  --primary: #f1f1f1;
  --primary-foreground: #141414;

  --secondary: #a0a0a0;
  --secondary-foreground: #f1f1f1;
  --accent: #ffc3c3;
  --accent-foreground: #141414;
  --destructive: #f1a7a7;
  --border: #e0e0e0;
  --input: #d7d7d7;
  --ring: #e53e3e;
}

.dark {
  --background: #141414;
  --foreground: #f1f1f1;
  --primary: #141414;
  --primary-foreground: #f1f1f1;

  --secondary: #f1a7a7;
  --secondary-foreground: #a0a0a0;
  --accent: #ff7777;
  --accent-foreground: #141414;
  --destructive: #f1a7a7;
  --border: #555555;
  --input: #656565;
  --ring: #f1a7a7;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
